<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YoloV3</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="predict">
        <div>
          <label for="image_uploads">Choose images to upload (PNG, JPG)</label>
          <input type="file"  name="image" accept=".jpg, .jpeg, .png">
        </div>
        <div>
          <button>Submit</button>
        </div>
      </form>
</body>
</html>