<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Example</title>
        <style>
          .mt-10 {
            margin-top: 10rem;
          }
        </style>
    </head>
    <body background="{{url_for('static', filename='Fondo.jpg')}}">
        <header>
         <nav class="navbar navbar-dark bg-primary">
            <!-- <img src="{{url_for('static', filename='logo_uady.jpg')}}" alt="logo" width="75" height="125"/> -->
            <a class="navbar-brand"  href="/index">Home</a>
          </nav>
        </header>
        <main align="center">
          
            <article >
                <h1  class="text-white" >Object Detectors</h1>     
                <section class="mt-10" >
                  <div class="container" align="center">
                    <div class="row">
                      <div class="col-sm">
                        <div class="card bg-light mb-3" style="height: 12rem;width: 18rem;">
                          <!-- <img src="..." class="card-img-top" alt="..."> -->
                          <div class="card-body">
                            <h5 class="card-title">ResNet50</h5>
                            <p class="card-text"></p>
                            <a href="/nets/ResNet50" class="btn btn-primary mt-5">Try</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="card bg-light mb-3" style="height: 12rem;width: 18rem;">
                          <!-- <img src="..." class="card-img-top" alt="..."> -->
                          <div class="card-body">
                            <h5 class="card-title">Yolo-tiny</h5>
                            <p class="card-text"></p>
                            <a cals href="/nets/Yolo-tiny" class="btn btn-primary mt-5 ">Try</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="card bg-light mb-3" style="height: 12rem;width: 18rem;">
                          <!-- <img src="..." class="card-img-top" alt="..."> -->
                          <div class="card-body">
                            <h5 class="card-title">Yolo-tiny Chagas</h5>
                            <p class="card-text"></p>
                            <a href="/nets/Chagas" class="btn btn-primary mt-5">Try</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
            </article>
        </main>
        <footer align="center" class="text-white" >
             Last release 10 junio del 2020
        </footer>
    </body>
</html>

<script>
function inputName() {
  var File = document.getElementById("File01");
  var LabelFile=document.getElementById("labelFile01");
  document.getElementById("labelFile01").innerHTML = File.value;
 
}
function selectDetector(){
  var Detector = document.getElementById("Detector");
  
  if(Detector.value=="O"){
    console.log(Detector.value);
    var Path=document.getElementById("form1");
    Path.action="predict";
  }
  if(Detector.value=="C"){
    console.log(Detector.value);
    var Path=document.getElementById("form1");
    Path.action="chagas";
  }
}
</script>
</html>